
.w100.h100

  - if flash[:error]
    - flash.each do |atr,ms|
      .error.w100.row-center-center
        %h4= ms.join(",")

  .column-center-center

    %br
    %br
    %br
    %h2 Edit task
    %br
    .new-list.column-center-center(style="width: 800px")
      = form_for [@project, @task] do |form|
        .column-center-center
          %h6 Task's name:
          %p= form.text_field :name, size: 69, :id => "add_list_field", required: true, minlength: 3, maxlength: 60
        %br
        .column-center-center
          %h6 Choose deadline, if needed:
          .row-center-center(style="width: 300px")
            .input-group.date#datetimepicker1
              .deadline-form= form.text_field :deadline, size: 26
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
            %span.input-group-addon.reset(style="height: 30px; width: 39px") 
              %span.glyphicon.glyphicon-trash
        %br      
        .row-center-center
          %p= form.submit "  Save  ", :id => "create_todo"

    %br
    .column-end-center
      %h4= link_to 'Back', projects_path
