

.project-page.w100.h100

  - if flash[:error]
    - flash.each do |atr,ms|
      .error.w100.row-center-center
        %h4= ms.join(", ")

  .father.column-start-center
    %h1 SIMPLE TODO LISTS
    %h6 FROM RUBY GARAGE

  .column-start-center.w100

    .lists.column-start-start

      - @projects.all.order(:id).each do |pr|

        .one-list.w100.h100
          .list-header.row-between-center.w100
            %i.glyphicon.glyphicon-list-alt
            .pr-name.row-start-center(id="#{pr.id}")= pr.name
            .pr-edit.row-start-center(id="#{pr.id}")
              = form_with(model: pr, url: new_name_path(pr), method: :post, :html => { :onsubmit => "updateProjectName(#{pr.id})"}) do |f|
                = f.text_field :name, :id => "list#{pr.id}", :class => "pr-edit-field", required: true, minlength: 3, maxlength: 50, pattern: ".*[^ ].*"
                = link_to "<i class=\"btn glyphicon glyphicon-ok\"></i>".html_safe, 'javascript:;', onclick: "updateProjectName(#{pr.id})"
            .header-btn.row-end-center
              = link_to "<i class=\"btn glyphicon glyphicon-pencil\" style=\"color:#96b4dc\"></i>".html_safe, 'javascript:;', onclick: "editProject(#{pr.id})"
              = link_to "<i class=\"btn glyphicon glyphicon-trash\" style=\"color:#96b4dc\"></i>".html_safe, pr, method: :delete, data: { confirm: "Are you sure?" }
          .add-task.row-stretch-center.w100
            = form_with(model: [ pr, pr.tasks.build ], local: true) do |form|
              .row-start-center
                .glyphicon.glyphicon-plus
                = form.text_field :name, :id => "add_task_field", required: true, minlength: 3, maxlength: 60, pattern: ".*[^ ].*"
                = form.submit "  Add task  ", :id => "add_task_btn"
              %br/
              %br/
          .tasks-list.wrap-column-start-start
            - pr.tasks.all.each_with_index do |tk, i|
              .one-task.row-between-center
                .status-bar.row-start-center
                  = form_tag tk.status, :method => :put do
                    = check_box_tag "task_id", tk.id, (tk.status == 'done'), {:id => tk.id, class: 'checkbox', onclick: "changeStatus(#{pr.id}, #{tk.id})"}
                - if (tk.status == 'done')
                  .task-name-field.task-done.row-start-center(id="#{tk.id}")
                    = tk.name
                  .row-end-center.deadline
                    .deadnum(id="#{tk.id}")
                      = tk.deadline
                  .tk-edit.row-start-center.h100(id="#{tk.id}")
                    = form_with(model: [pr, tk], url: edit_task_path(pr, tk), method: :post, :html => { :onsubmit => "updateTaskName(#{pr.id},#{tk.id})", :class => "tk-edit-name row-around-center"}) do |f|
                      = f.text_field :name, :id => "task_new_name#{tk.id}", :class => "tk-edit-field", required: true, minlength: 3, maxlength: 50, pattern: ".*[^ ].*"
                      .deadline-edit.row-start-center.input-group.date(id="datetimepicker#{i+1}")
                        .deadline-form= f.text_field :deadline, :id => "task_dead_line#{tk.id}"
                        .input-group-addon.row-center-center
                          .glyphicon.glyphicon-calendar
                      = link_to "<i class=\"btn glyphicon glyphicon-ok\"></i>".html_safe, 'javascript:;', onclick: "updateTaskName(#{pr.id},#{tk.id})"
                - else
                  .task-name-field.row-start-center(id="#{tk.id}")
                    = tk.name
                  .row-end-center.deadline
                    .deadnum(id="#{tk.id}")
                      = tk.deadline
                  .tk-edit.row-start-center.h100(id="#{tk.id}")
                    = form_with(model: [pr, tk], url: edit_task_path(pr, tk), method: :post, :html => { :onsubmit => "updateTaskName(#{pr.id},#{tk.id})", :class => "tk-edit-name row-around-center"}) do |f|
                      = f.text_field :name, :id => "task_new_name#{tk.id}", :class => "tk-edit-field", required: true, minlength: 3, maxlength: 50, pattern: ".*[^ ].*"
                      .deadline-edit.row-start-center.input-group.date(id="datetimepicker#{i+1}")
                        .deadline-form= f.text_field :deadline, :id => "task_dead_line#{tk.id}"
                        .input-group-addon.row-center-center
                          .glyphicon.glyphicon-calendar
                      = link_to "<i class=\"btn glyphicon glyphicon-ok\"></i>".html_safe, 'javascript:;', onclick: "updateTaskName(#{pr.id},#{tk.id})"
                .task-btn.row-end-center
                  .up-n-down-btn.column-start-start
                    = link_to "<span class=\"btn fa fa-caret-up btn-xs\"></span>".html_safe, shift_up_path(tk.project, tk), :method => :post
                    = link_to "<span class=\"btn fa fa-caret-down btn-xs\"></span>".html_safe, shift_down_path(tk.project, tk), :method => :post
                  = link_to "<span class=\"btn fa fa-pencil btn-xs\"></span>".html_safe, 'javascript:;', onclick: "editTask(#{tk.id})"
                  = link_to "<span class=\"btn fa fa-trash btn-xs\"></span>".html_safe, [tk.project, tk], method: :delete, data: { confirm: "Are you sure?" }
        %br/
        %br/
    .add-list-btn.column-start-center.w100
      = link_to "<i class=\"glyphicon glyphicon-plus\" style=\"color:#324664; width: 30px\"></i>  Add TODO list".html_safe, new_project_path, :method => :get, :id => "add_list_btn"
      %br/
      %br/
      #rubygarage © Ruby Garage
      %br/
      %br/
