

.w100.h100

  - if flash[:error]
    .error.w100.row-center-center
      %h4= flash[:error]

  .father.column-start-center
    %h1 SIMPLE TODO LISTS
    %h6 FROM RUBY GARAGE

  .column-start-center.w100

    .lists.column-start-start

      - @projects.each do |pr|

        .one-list.w100.h100
          .list-header.row-between-center.w100
            %i.glyphicon.glyphicon-list-alt
            .pr-name.row-start-center= pr.name
            .header-btn.row-end-center
              = link_to "<i class=\"btn glyphicon glyphicon-pencil\" style=\"color:#96b4dc\"></i>".html_safe, edit_project_path(pr), :method => :get
              = link_to "<i class=\"btn glyphicon glyphicon-trash\" style=\"color:#96b4dc\"></i>".html_safe, pr, method: :delete, data: { confirm: "Are you sure?" }
          .add-task.row-stretch-center.w100
            = form_with(model: [ pr, pr.tasks.build ], local: true) do |form|
              .row-start-center
                .glyphicon.glyphicon-plus
                = form.text_field :name, size: 72, :id => "add_task_field", required: true, minlength: 3
                = form.submit "  Add task  ", :id => "add_task_btn"
              %br/
              %br/
          .tasks-list.wrap-column-start-start.w100
            - pr.tasks.all.order(:priority).reverse.each do |tk|
              .one-task.wrap-row-between-center.w100
                .status-bar.row-start-center.w100.h100
                  = form_tag tk.status, :method => :put do
                    = check_box_tag "task_id", tk.id, (tk.status == 'done'), {:id => pr.id, class: 'checkbox'}
                .task-name-field.row-start-center.w100.h100
                  - if (tk.status == 'done')
                    %s= tk.name 
                  -else
                    = tk.name
                .row-end-center.deadline 
                  .deadnum 
                    - if (tk.status == 'done')
                      %s= tk.deadline
                    -else
                      = tk.deadline
                .task-btn.row-end-center.w100.h100
                  .up-n-down-btn.column-start-start
                    = link_to "<span class=\"btn fa fa-caret-up btn-xs\"></span>".html_safe, shift_up_path(tk.project, tk), :method => :post
                    = link_to "<span class=\"btn fa fa-caret-down btn-xs\"></span>".html_safe, shift_down_path(tk.project, tk), :method => :post
                  = link_to "<span class=\"btn fa fa-pencil btn-xs\"></span>".html_safe, edit_project_task_path(tk.project, tk), :method => :get 
                  = link_to "<span class=\"btn fa fa-trash btn-xs\"></span>".html_safe, [tk.project, tk], method: :delete, data: { confirm: "Are you sure?" }
        %br/
        %br/
    .add-list-btn.column-start-center.w100
      = link_to "<i class=\"glyphicon glyphicon-plus\" style=\"color:#324664; width: 30px\"></i>  Add TODO list".html_safe, new_project_path, :method => :get, :id => "add_list_btn"		
      %br/
      %br/
      #rubygarage © Ruby Garage
      %br/
      %br/
