.w100.h100

  - if flash[:error]
    .error.w100.row-center-center
      %h4= flash[:error]

  .column-center-center

    %br
    %br
    %br
    %h2 New TODO list
    %br
    .new-list.column-between-center(style="width: 800px")
      = form_for @project do |form|
        %p List's name:
        %p= form.text_field :name, size: 69, :id => "add_list_field"
        %br
        .row-center-center
          %p= form.submit "  Create TODO list  ", :id => "create_todo"
    %br
    .column-end-center
      %h4= link_to 'Back', projects_path
